/* #game {
  width: 1000px;
  height: 500px;
  background-color: aquamarine;
  margin: 0 auto;
} */

#game-display {
  background-color: antiquewhite;
  position: absolute;

}


.block {
  position: absolute;
}

#user {
  width: 100px;
  height: 20px;
  background-color: gold;

}

.player {

  background-color: blueviolet;
  position: absolute;
}

.ball {

  border-radius: 50%;
  background-color: lightcoral;
  position: absolute;
}